.media-item__featured
	margin-top: 20vh
	position: relative
	
.media-featured__text
	font-size: 2.15vh

.media-featured__link-stretch
	display: block
	margin: 
		top: 11vh
		bottom: 18vh

@media screen and (max-width: 767px)
	.media-item__featured
		margin-top: 39px

	.media-item__featured-title
		margin:
			top: 30px
			bottom: 21px

	.media-item__featured-subtitle
		margin-bottom: 36px

	.media-featured__link-stretch
		margin:
			top: 42px
			bottom: 50px