.media-item
	margin-top: 5.7vw

.media-item img
	width: 100%

.media-item__main-title
	max-width: 31vw
	margin-bottom: 1.6vw

.media-item__main-subtitle
	margin-bottom: 1.6vw

.media-item__main-text
	max-width: 31vw
	font-size: 1vw

.media-item__link-stretch
	display: block
	margin-top: 5.6vw

.media-item__gallery
	margin:
		top: 4.3vw
		bottom: 8.5vw

@media screen and (max-width: 767px)

	.media-item
		margin-top: 39px

	.media-item__main-title
		margin:
			top: 28px
			bottom: 28px

	.media-item__main-subtitle
		margin-bottom: 60px

	.media-item__main-text
		font-size: 14px
		line-height: 21px
		letter-spacing: 0
		margin-bottom: 36px

	.media-item__link-stretch
		margin-top: 0

	.media-item__gallery
		margin:
			top: 52px
			bottom: 68px